<html>

<head>
    <link rel="stylesheet" href="../css/importFile.css">
</head>

<body>
    <div id="container">
        <div class="row"></div>
        <div class="col">
        </div>
        <div class="wenan">导入文件</div>
        <input id="fileInput" type="file" name="file" accept="text/csv">
    </div>
    <div class="file-dialog">
        <p>请输入要分析的文件分类：</p>
        <select>
            <option value="情绪类">情绪类</option>
            <option value="癫痫类">癫痫类</option>
        </select>
        <div id="typeBtn" class="type-btn">
            <button>确认</button>
            <button>取消</button>
        </div>
    </div>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/axios/dist/axios.js"></script>
    <script src="../js/request.js"></script>
    <script src="../js/importFile.js"></script>     
</body>

</html>