<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>manage</title>
    <link rel="stylesheet" href="../css/manage.css" />
</head>
<body>
    <table border="1" cellspacing="0">
        <tr id="tr">
            <td>情绪</td>
            <td>数据</td>
            <td>标志</td>
            <td>操作</td>
        </tr>
    </table>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/axios/dist/axios.js"></script>
    <script src="../js/request.js"></script>
    <script src="../js/manage.js"></script>
</body>
</html>